@charset "utf-8";
@import url('https://webfontworld.github.io/SCoreDream/SCoreDream.css');
@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }
   
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
   }
   
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
   }
   
   .nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
   }

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


*{margin: 0; padding: 0; box-sizing: border-box; font : inherit; color: inherit;}
a{text-decoration: none;}
ul,ol{list-style: none;}
img{max-width: 100%;}
html{font-size: 10px; scroll-behavior: smooth;}
body{
    font-size: 1.6rem; 
    color: #222; 
    font-family: 'Pretendard-Regular'; 
    font-weight: 300;
    overflow-x: hidden;
}
/* custom */
.inner{max-width: 1340px; padding: 0 20px; width: 100%; position: relative; margin: 0 auto;}
.title{
    text-align: center;
    position: relative;
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 10rem;
    letter-spacing: 10px;
}
.title h2{
    font-family: 'JalnanGothic';
    display: inline-block;
    position: relative;
    color: #CF4848;
    letter-spacing: 0.15em;
}
.title h2:hover{
    color: #CF4848;
    text-shadow: 0px 3px 8px rgba(0,0,0,0.2);
}

@media screen and (max-width: 1024px){
    html{font-size: 10px;}
}
@media screen and (max-width: 768px){
    html{font-size: 9px;}

    .title h2{font-size: 3rem;
    font-weight: 800;
    }
}